#click{
    height:40px;
    width:100px;
    border-radius: 10px;
}
.whole{
      
    padding:100px;
    align-items: center;
    justify-content: center;

    gap:20px;
}
.reset{
   height:40px;
    width:100px;
    border-radius: 10px;
 
}
.red{
    height:40px;
    width:100px;
    border-radius: 10px;
  
}
.blue{
    height:40px;
    width:100px;
    border-radius: 10px; 
}
.output{
    height:200px;
    width:200px;
    background-color:black;
    margin-left: 100px;
    margin-bottom: 50px;
}